--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
opencv-python==4.8.0.74
onnx==1.17.0
insightface==0.7.3
psutil==5.9.5
pillow==10.0.0
onnxruntime-gpu==1.22.0

tensorflow==2.12.0
protobuf
tqdm
gfpgan
realesrgan
opennsfw2
